<footer class="footer bg-dark py-3 mt-auto">
    <div class="container d-flex justify-content-center">
        <span class='text-muted'>&copy; hotDesk 2022 - created by <a target="_blank" href="http://harrymarah.co">Harry Marah</a></span>
    </div>
</footer>