<%- layout('layouts/boilerplate') %> 

<div class="container d-flex justify-content-center align-items-center my-5">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title">Edit your company</h2>
                    <form class="p-2 needs-validation" action="/company/<%= company._id %>?_method=PUT" method="POST" novalidate enctype="multipart/form-data">
                        <div class="my-3">
                            <label class="form-label" for="name">Company Name:</label>
                            <input class="form-control"  type="text" id="name" name="company[companyName]" value="<%= company.companyName %>" required>
                
                            <div class="invalid-feedback">Company name is required.</div>
                
                        </div>
                
                        <div class="my-3">
                            <label for="company-logo" class="form-label">Replace Company Logo:</label>
                            <input class="form-control" type="file" id="company-logo" name="company[companyLogo]">
                
                            <div class="invalid-feedback">Company logo image is required.</div>
                
                        </div>
                
                        <div class="my-3">
                            <label class="form-label" for="businessCode">Unique Business Code:</label>
                            <input class="form-control"  type="text" id="businessCode" name="company[uniqueCompanyCode]" value="<%= company.uniqueCompanyCode%>" required disabled readonly>
                
                            <div class="invalid-feedback">Unique company code is required.</div>
                        </div>

                        <div class="d-grid mt-3">
                            <button class='btn btn-success'>Add</button>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>

