<%- layout('layouts/boilerplate') %> 

<div class="container mt-5">
    <h1 class="p-2 display-3">Add your company</h1>

    <form class="p-2" action="/company" method="POST">
        <div class="my-3">
            <label class="form-label" for="name">Company Name:</label>
            <input class="form-control" type="text" id="name" name="company[companyName]">
        </div>
        <div class="my-3">
            <label class="form-label" for="name">Company Logo Link:</label>
            <input class="form-control" type="text" id="name" name="company[companyLogo]">
        </div>
        <div class="my-3">
            <label class="form-label" for="businessCode">Unique Business Code:</label>
            <input class="form-control" type="text" id="businessCode" name="company[uniqueCompanyCode]">
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
    
</div>






