<%- layout('layouts/boilerplate') %> 

<div class="container d-flex justify-content-center align-items-center my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1568992687947-868a62a9f521?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2064&q=80" alt="">
                <div class="card-body">
                    <h4 class="card-title">Register as an employer</h4>
                    <form action="/register-admin" class="needs-validation" method="POST" novalidate>
                        <label class="form-label" for="email">Email Address</label>
                        <input class="form-control" type="email" name="email" id="email" required>
                    
                        <label class="form-label" for="username">Username</label>
                        <input class="form-control" type="text" name="username" id="username" required>
                    
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" type="password" name="password" id="password" required>
                    
                        <div class="d-grid mt-3">
                            <button class='btn btn-success'>Register</button>
                        </div>                    
                    </form>

                    <hr>

                    <div class="d-grid mt-3">
                        <a href="/register-employee" class="btn btn-primary">Register as an employee instead</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
