<%- layout('layouts/boilerplate') %> 

<div class="container mt-5">

<h1 class="p-2">Add your office</h1>

<form class="p-2 needs-validation" action="/company/<%= company._id %>/office" method="POST" enctype="multipart/form-data" novalidate>
    <div class="my-3">
        <label class="form-label" for="name">Office Name:</label>
        <input class="form-control" type="text" id="name" name="office[officeNickname]" required>

        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please add your office name.</div>
    </div>

    <div class="my-3">
        <label class="form-label" for="streetAddress">Street Address:</label>
        <input class="form-control" type="text" id="streetAddress" name="office[officeAddress][streetAddress]" required>
    </div>

    <div class="my-3">
        <label class="form-label" for="town">Town:</label>
        <input class="form-control" type="text" id="town" name="office[officeAddress][town]" required>
    </div>

    <div class="my-3">
        <label class="form-label" for="county">County/City:</label>
        <input class="form-control" type="text" id="county" name="office[officeAddress][county]" required>
    </div>

    <div class="my-3">
        <label class="form-label" for="postcode">Postcode:</label>
        <input class="form-control" type="text" id="postcode" name="office[officeAddress][postcode]" required>

        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please add your company address.</div>
    </div>

    <!-- <div class="my-3">
        <label class="form-label" for="floorplan">Floor plan:</label>
        <input class="form-control" type="text" id="floorplan" name="office[floorPlan]" required>

        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please add a floor plan.</div>
    </div> -->

    <div class="my-3">
        <label for="floorplan" class="form-label">Floor Plan:</label>
        <input class="form-control" type="file" id="floorplan" name="office[floorPlan]" required>

        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please upload a floor plan.</div>

    </div>

    <div class="my-3">
        <label class="form-label" for="noOfDesks">Number of desks:</label>
        <input class="form-control" type="number" id="noOfDesks" name="noOfDesks" required>

        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please select the number of bookable desks the office contains.</div>
    </div>

    <input class="btn btn-primary" type="submit" value="Submit">
</form>

</div>




