<%- layout('layouts/boilerplate') %> 


<div class="container my-5">
    <div class="row justify-content-md-center">
        <div class="col-10">
          
            <h2 class="display-5">Welcome to <%= office.officeAddress.streetAddress %></h2>
            <h4 class="text-muted"><em><%= office.officeNickname %></em></h4>
            <h6 class=""><em><%= company.companyName %></em></h5>
            
        </div>  
    </div>
</div>
